
.markdown-pre-js-out {
  font: 1.15rem sans-serif;
}

.markdown-pre-js-out h1 {
  margin: .9rem 0 0.5rem;
}

.markdown-pre-js-out p {
  margin: 0 0 1rem;
}

.markdown-pre-js-src {
  background: #fcfcfc;
  border: 1px solid #ccc;
  font-size: .85rem;
  padding: 0 0.4rem;
}

.markdown-pre-js-src,
.markdown-pre-js-out {
  color: #222;
  line-height: 1.6;
  margin: 0 auto 2rem;
  max-width: 39rem;
}

@media print {

  .markdown-pre-js-src {
    display: none;
  }

}
