
.markdown-pre-js-out {
  font: 1.15rem sans-serif;
}

.markdown-pre-js-out h1 {
  font-weight: 400;
  margin: .9rem 0 0.5rem;
}

.markdown-pre-js-out p {
  margin: 0 0 1rem;
}

.markdown-pre-js-src {
  background: #fbfbfb;
  border: 1px solid #ddd;
  font-size: .85rem;
  padding: 0 0.4rem;
}

.markdown-pre-js-src,
.markdown-pre-js-out {
  color: #222;
  line-height: 1.6;
  margin: 0 auto 2rem;
  max-width: 39rem;
}

.markdown-pre-js-out [ role = image ],
.markdown-pre-js-out img {
  border: 3px solid #bbb;
  border-radius: .3rem;
  display: block;
  margin: 1rem auto;
  max-width: 95%;
}

.markdown-pre-js-out a:focus img,
.markdown-pre-js-out a:hover img {
  border-color: orange;
  transition: all 3s;
}

img[ src *= 'size=sm' ] {
  max-width: 250px;
}

@media print {

  .markdown-pre-js-src {
    display: none;
  }

}
